<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.caiyun.mapper.PaymentItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.caiyun.pay.model.entity.PaymentItemDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category" property="category"/>
        <result column="amount" property="amount"/>
        <result column="exempt_amount" property="exemptAmount"/>
        <result column="actual_amount" property="actualAmount"/>
        <result column="status" property="status"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="description" property="description"/>
        <result column="document_url" property="documentUrl"/>
        <result column="notices" property="notices"/>
        <result column="processes" property="processes"/>
        <result column="faqs" property="faqs"/>
        <result column="contacts" property="contacts"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="updater" property="updater"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 分页查询缴费项目 -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT *
        FROM payment_item
        <where>
            AND deleted = FALSE
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>